{% extends "blog/home.html" %}

{% load static %}

{% block contenidoQueCambia %}


            <h1 class=container text-centermasthead-heading mb-0>Perfil de {{ user_profile.user.username }}</h1>
            <h2 class=container text-centermasthead-subheading mb-0>Bienvenido a tu perfil</h2>
        </div>
    </div>
    
</header>

<section id="user-profile">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-lg-4">
                {% if user_profile.avatar %}
                    <img class="img-fluid rounded-circle" src="{{ user_profile.avatar.url }}" alt="Avatar de {{ user_profile.user.username }}" />
                {% else %}
                    <img class="img-fluid rounded-circle" src="{% static 'blog/img/default-avatar.jpg' %}" alt="Avatar por defecto" />
                {% endif %}
            </div>
            <div class="col-lg-8">
                <div class="p-5">
                    <h2 class="display-4">Biografía</h2>
                    <p>{{ user_profile.bio }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
