{% extends "blog/home.html" %}




{% block contenidoQueCambia %}
    <!-- Sobre mí -->
    <section id="sobre-mi">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12">
                    <div class="p-5">
                        <h2 class="display-4">Sobre Mí</h2>
                        <p>¡Hola! Soy Kimberlyn Martinez, tengo 24 años y actualmente vivo en Capital Federal. Mi amor por la música rock ha sido una parte esencial de mi vida desde que tengo memoria. Desde los primeros acordes que escuché en mi adolescencia hasta los conciertos inolvidables que he tenido el privilegio de presenciar, la música rock ha sido una constante fuente de inspiración y emoción para mí.</p>
                        <p>La idea de crear NoisePulse surgió de mi deseo de construir un espacio donde los fanáticos de la música puedan conectar y compartir sus experiencias. En un mundo donde la música tiene el poder de unir a las personas, quería ofrecer un lugar en el que cada uno pueda expresar su pasión por el rock, compartir sus opiniones sobre bandas y álbumes, y descubrir nuevas melodías y artistas.</p>
                        <p>Aquí en NoisePulse, encontrarás una variedad de contenidos, desde reseñas de conciertos y discos hasta artículos sobre la historia del rock y sus influencias. Mi objetivo es crear una comunidad vibrante donde los aficionados puedan discutir sus temas favoritos, aprender más sobre el género y, sobre todo, disfrutar de la buena música juntos.</p>
                        <p>Estoy emocionada de poder crear este proyecto gracias a Coderhouse y a mi profesor, cuyo apoyo ha sido invaluable. Espero que encuentres en este blog un lugar donde te sientas inspirado, informado y, lo más importante, donde puedas disfrutar de la música tanto como yo lo hago. ¡Espero que les guste mi proyecto!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
